<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="round">
            <h2><span>Round</span> {{round.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Start Time</span></dt>
                <dd>
                    <span>{{round.startTime}}</span>
                </dd>
                <dt><span>End Time</span></dt>
                <dd>
                    <span>{{round.endTime}}</span>
                </dd>
                <dt><span>Max Cap</span></dt>
                <dd>
                    <span>{{round.maxCap}}</span>
                </dd>
                <dt><span>Current Cap</span></dt>
                <dd>
                    <span>{{round.currentCap}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/round', round.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
