<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p> Still have questions? Just ask us!</p>
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
        <ul class="contact">
            <li class="icon solid fa-home">
                the Sino-German Nursing Program<br />
                Boltzmannstr. 3<br />
                Garching bei München, 85748
            </li>
            <li class="icon solid fa-phone">(089) 289-18000</li>
            <li class="icon solid fa-envelope"><a href="#">information@sino-german.com</a></li>
            <li class="icon brands fa-twitter"><a href="#">twitter.com/sino-german.com</a></li>
            <li class="icon brands fa-facebook-f"><a href="#">facebook.com/sino-german.com</a></li>
            <li class="icon brands fa-instagram"><a href="#">instagram.com/sino-german.com</a></li>
        </ul>
        <!-- <ul class="copyright">
            <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul> -->
    </div>
</section>


