<!-- Footer -->
<section id="footer">
    <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p> Still have questions? Just ask us!</p>
        <ul class="contact">
            <li class="icon solid fa-home" style="color: #67cdcc">
                The Sino-German Nursing Program<br />
                Boltzmannstr. 3<br />
                Garching bei München, 85748
            </li>
            <li style="color: #67cdcc" class="icon solid fa-phone">(089) 289-18000</li>
            <li class="icon solid fa-envelope"><a href="#">information@sino-german.com</a></li>
            <li class="icon brands fa-twitter"><a href="#">twitter.com/sino-german.com</a></li>
            <li class="icon brands fa-facebook-f"><a href="#">facebook.com/sino-german.com</a></li>
            <li class="icon brands fa-instagram"><a href="#">instagram.com/sino-german.com</a></li>
        </ul>
        <!-- <ul class="copyright">
            <li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul> -->
    </div>
</section>


