<div class ="page">

    <!-- Page Wrapper -->
    <div id="page-wrapper">


        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <!-- <div class="logo"><span class="icon fa-gem"></span></div> -->
                <h2>Sino German Nursing Program</h2>
                <p>“From caring comes courage.” — Lao Tzu</p>
            </div>
        </section>
        <jhi-wrapper></jhi-wrapper>
        <jhi-section *ngFor="let section of sections" [section]="section"></jhi-section>
        <jhi-footer></jhi-footer>
    </div>
</div>
